.homeBackgroundContainer{
    width:100vw;
    height:100vh;
    background-image: url("./img/background-photo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:blue;
    position:fixed;
}

.homeMiddleContainer{
        margin-top: 4%;
        margin-bottom: 10%;
        margin-left: 35%;
        margin-right: 35%;
        width: 30%;
    background-color: rgba(87, 87, 87, 0.6);
    border:black;
}

.homeMiddleText h1{
    text-align:center; 
    color:white;
    text-shadow: 1px 1px black;
    margin-bottom:2%;
    padding-top:2%;

}
.homeMiddleBox{
    display:flex;
    flex-direction: row;
    margin-left:15%;
}

.homeMiddleBox h1{
    order:2;
}
.homeMiddleBox img{
    padding-top:1%;
    height: 48px;
    width:48px;
}

.homeMiddleText button{

font-size: 30px;
background:rgba(255, 230, 0, 0.85);
border: none;
border-radius: 2%;
text-align:center;
margin-right:40%;
margin-left:35%;
margin-bottom:4%;
color:white;
text-shadow: 2px 2px black;
width:30%;
}

.homePublicRoomsContainer{
    width:80%;
    height:55%;
    background-color:rgba(87, 87, 87, 0.6);
    margin:auto;
}